@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #FFFBEF;
}

.titulo h1{
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: #086400;
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.tabela {
    width: 85%;
    margin: 0 auto; /* Isso centralizará a tabela horizontalmente */
    border-collapse: collapse;
    border-radius: 0.5rem; /* Define o raio de curvatura das bordas */
    overflow: hidden;
}

.tabela th, .tabela td {
    border: 0.15rem solid #FFA900;
    padding: 0.8rem;
    text-align: center;
}

.tabela th {
    color: #086400;
    font-weight: bold;
}

.cedulas {
    color: #373737;
}

.ordenacao {
    cursor: pointer;
}

.logo_historico {
    text-align: center;
    margin-top: 3rem; 
    position: relative; 
    margin-bottom: 3rem;
}

.proximo {
    font-weight: bold;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row; /* Garante que os itens fiquem na mesma linha */
    align-items: center;
}

.proximo button {
    width: auto;
    margin-right: 7rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #FFA900;
    color: white;
    text-shadow: .2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);;
    font-weight: bold;
}

.proximo a {
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

.rodape {
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    background-color: #FAC254;
    padding: 1.2rem;
    color: #FFFBEF;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

@media only screen and (max-width: 768px) {
    .tabela {
        width: 100%;
    }

    .tabela th, .tabela td {
        padding: 0.5rem;
    }

    .proximo {
        margin: 0 auto; 
        margin-bottom: 5rem;
    }

    .logo_historico {
        margin-bottom: 5rem;
    }

    .rodape {
        position: fixed;
        height: 4rem;
        font-size: 0.8rem;
    }
}