* {
    font-size: 62,5%;
}

.navbardev {
    background-color: #FAC254;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.navbardev ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.navbardev ul li {
    margin-right: 2rem; 
}

.navbardev ul li:last-child {
    margin-right: 0; 
}

.navbardev ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    padding: 1px; 
    transition: all 0.3s ease; 
}

.navbardev ul li a:hover {
    text-decoration: underline;
}

.logo img {
    margin-left: 5rem;
    height: 2rem,; 
}

.user img {
    margin-right: 5rem;
    height: 3rem; 
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 768px) {

    .navbardev {
        padding: 1rem;
    }

    .nav-item{
        display: none;
    }

    .menu {
        display: none;
    }

    .user {
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        background-color: #FAC254;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu ul li a {
        color: white;
        font-weight: bold;
        font-size: 1.0rem;
        text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    }
    
    .mobile-menu ul li a:active {
        color: white;
        font-weight: bold;
    }

    .mobile-menu ul li a:hover {
        text-decoration: underline;
    }

    .mobile-menu button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .logo img {
        margin-left: 1rem;
    }
}